@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-zinc-1000 {
  background-color: rgb(7, 7, 7);
}
.bg-gray-800 {
  background-color: rgb(58, 58, 58);
}
.bg-brown-5000 {
  background-color: rgb(168, 115, 16);
}
.border-white-5000 {
  border-color: white;
}
.border-silver-5000 {
  border-color: rgb(192, 192, 192);
}
.border-black-5000 {
  border-color: rgb(0, 0, 0);
}
.border-gold-5000 {
  border-color: rgb(223, 200, 0);
}
.border-brown-5000 {
  border-color: rgb(168, 115, 16);
}
.border-custom-5000 {
  border-image: linear-gradient(to right, #3acfd5 0%, #b702ff 100%) 1;
}
.border-gray-5000 {
  border-color: gray;
}
.border-purple-5000 {
  border-color: purple;
}
.border-orange-5000 {
  border-color: orange;
}
.border-blue-5000 {
  border-color: blue;
}
.border-green-5000 {
  border-color: green;
}
.border-red-5000 {
  border-color: red;
}
